.swiper-wrapper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  background: #fca260;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.index-section {
  display: flex;
  padding: 5rem 0;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.i-section-img {
  width: 30vw;
}

.i-section-textbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.i-section-texttitle {
  align-self: stretch;
  color: #ff8551;
  font-family: Noto Sans TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

.i-section-textdesbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.i-section-textdes {
  color: #888;
  font-family: Noto Sans TC;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}

.i-section-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.i-section-navtext {
  color: #000;

  font-family: Noto Sans TC;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.i-section-navbtn {
  display: flex;
  height: 3.25rem;
  padding: 0 1rem 0 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;

  border-radius: 3rem;
  border: 2px solid #fca260;
}

.i-s-navbtn-text {
  color: #fca260;
  font-family: Noto Sans TC;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.index-qa {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  align-self: stretch;

  background: #fffaef;
}

.i-qa-title {
  color: #ff8551;
  font-family: Noto Sans TC;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4rem;
}

.i-qa-label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.i-qa-tab {
  display: flex;
  padding: 0.5rem 1rem 1rem 2.5rem;
  align-items: flex-end;
  align-content: flex-end;
  gap: 0rem 0.5625rem;
  flex-wrap: wrap;
  position: relative;

  color: #888;
  text-align: center;

  font-family: Noto Sans TC;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1rem;

  cursor: pointer;
}

.i-qa-tab img {
  position: absolute;
  bottom: -2px;
  left: -15px;
}

.i-qa-tab_active {
  color: #1e1e1e;
  border-bottom: 2px solid #fca260;
}

.i-qa-img {
  width: 60vw;
}

.index-callup {
  padding: 5rem 0;
  text-align: center;
}

.index-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5rem;
}

.i-nav-link:link,
.i-nav-link:visited {
  opacity: 0.7;
}

.i-nav-link:hover,
.i-nav-link:active {
  transition: all 0.4s;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .i-section-texttitle {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .i-section-textdes {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .index-qa {
    padding: 3rem;
  }

  .i-qa-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .i-qa-tab {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .index-callup {
    padding: 3rem 0;
  }

  .index-nav {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 900px) {
  .i-section-texttitle {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .i-section-textdes {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .i-section-navtext {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .i-section-navbtn {
    height: 2.75rem;
    padding: 0 1rem 0 1.5rem;
  }

  .i-s-navbtn-text {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .index-qa {
    padding: 2rem;
  }

  .i-qa-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .i-qa-label {
    gap: 0;
  }

  .i-qa-tab {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .index-callup {
    padding: 2rem 0;
  }

  .index-nav {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .index-section {
    padding: 2rem 1rem;
    flex-direction: column;
    gap: 1.5rem;
  }

  .i-section-img {
    width: 50vw;
  }

  .i-section-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .i-section-textdesbox {
    align-items: center;
  }

  .index-qa {
    padding: 2rem 0.75rem;
    gap: 1.5rem;
  }

  .i-qa-tab {
    padding: 0.25rem 0.75rem 0.5rem 1rem;
    gap: 0rem 0.5625rem;
    flex-wrap: wrap;
    position: relative;

    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
  }

  .i-qa-tab img {
    left: -12px;
    width: 25px;
  }

  .index-nav {
    flex-direction: column;
    padding-bottom: 0;
  }

  .i-nav-link:link,
  .i-nav-link:visited {
    opacity: 1;
  }
}
