#map {
  width: 100%;
  height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.h1,
.h2 {
  font-family: Noto Sans TC;
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.searchTitle {
  background-color: #fdc7a0;
}

.searchBlock {
  width: 30rem;
  margin: 2rem 2rem 0 2rem;
  position: relative;
  display: flex;
  position: absolute;
  z-index: 1;
}

.searchBar {
  width: 27rem;
  height: 3rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  background-color: #fff;
  border-radius: 1rem 0 0 1rem;
}

.searchButton {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fca260;
  background: #fca260;
  text-align: center;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

.searchButton_icon {
  height: 1.5rem;
}

.search-container {
  font-family: Noto Sans TC;
  top: 18rem;
  left: 2rem;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 86vh;
  overflow-y: scroll;
}

.container-infoBox {
  width: 28rem;
  height: 10rem;
  background-color: #fff;
  border-bottom: 1px solid #afb8b9;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.container-infoBox:hover {
  background-color: #eee;
}

.infoLink {
  width: 28rem;
  height: 10rem;
  position: absolute;
}

.container-infoTitle {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.container-infoScore {
  text-align: center;
  padding-bottom: 1rem;
}

.container-infoScore_img {
  display: inline-block;
  background-size: 1rem;
  background-image: url(../img/star-10.png);
  height: 1rem;
  width: 1rem;
  vertical-align: top;
}

.infoScore_star0 {
  background-image: url(../img/star-0.png);
}

.container-infoAddress {
  text-align: center;
  padding-bottom: 1rem;
}

.container-infoTT {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 1rem;
}

.container-page {
  width: 28rem;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
  margin: 1rem 0;
  font-size: 1.25rem;
}

.container-page li {
  display: inline;
  color: #000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.container-page li.active {
  background-color: #fca260;
  color: #fff;
}

.container-page li:hover:not(.active) {
  background-color: #ddd;
}

.infoDetail {
  top: 18rem;
  left: 33rem;
  width: 31rem;
  height: 86vh;
  font-family: Noto Sans TC;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}

.infoDetail-container {
  border-bottom: 1px solid #999;
}

.infoDetail-infoTitle {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.infoDetail-row {
  padding: 1rem 3.5rem;
  text-align: center;
}

.infoMessage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #999;
}

.i-message_button {
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

.infoMessageBox {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-bottom: 1px solid #999;
}

.infoMessageBox-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoMessageBox-name {
  padding-bottom: 1rem;
}

.infoMessageBox-time {
  padding-bottom: 1rem;
}

.infoMessageBox-content {
  line-height: 1.3;
  word-wrap: break-word;
}

#description {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.hotel-search {
  display: flex;
  justify-content: center;
}

#locationField {
  margin-right: 2rem;
}

#controls {
  margin-right: 2rem;
}

.block-active {
  display: block;
}
